body {
    background-color: beige;
    margin: 5px;
    padding: 5px;
}

table {
    height: 275px;
    width: 100%;
    text-align: center;
    margin: 10px;
    height: 25px;
}

#logo {
    width: 150px;
    height: 150px;
}

#photo {
    width: 150px;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;

}

#nulltext {
    border: solid 2px;
    width: 25%;
    text-align: left;
    height: 25px;
}

td {
    text-align: center;
}

#finalrow {
    border: solid 2px;
    height: 100px;
}

tr {
    border: solid 2px;
    height: 25px;
}

#name {
    border: solid 2px;
    text-align: right;
    height: 25px;
}

#nationalnumber {
    border: solid 2px;
    width: 75%;
    text-align: left;
}

#setting {
    border: solid 2px;
}

#fullname {
    border:black solid 2px;
    background-color: rgb(114, 114, 114);
    color: white;
}



th {
    border: solid 2px;
    width: 25%;
}

.title {
    background-color: silver;

}


/* صندوق الرسالة */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* خلفية سوداء شفافة */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

div {
    text-align: center;
    width: 400px;
}
#imagesetting{
    width: 380px;
}
#personalphoto {
    width: 150px;
    height: 150px;
    border: black solid 2px;
}
#worrng{
    color: red;
    font: bold;
}